{% extends "calculibrium/base.html" %}
{% load calculibrium_extras %}

{% block title %}
    Calculo de Estrutura
{% endblock title %}
{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock head %}

{% block content %}
<div class="container">
    <div class="card" style="width: 90%;">
        <select class="form-select form-select-lg mb-3" id="marca" aria-label="Large select example">
            <option value="" selected>Selecione uma marca</option>
            {% for marca in marcas %}
              <option value="{{marca.id}}">{{marca.name}}</option>
            {% endfor %}
        </select>
        <select class="form-select form-select-lg mb-3" id="componente" aria-label="Large select example">
            <option value="" selected>Selecione um componente</option>
            {% for componente in componentes %}
              <option class="componente-option" data-marca="{{componente.brand.id}}" value="{{componente.id}}">{{componente.descricao}}</option>
            {% endfor %}
        </select>
    </div>
</div>
<script>
    $document.ready(function(){
        $('#marca').change(function(){
            var marcaId = $(this).val();
            $('.componente-option').hide();
            $('.componente-option[data-marca="' + marcaId + '"]').show();
        })
    });
</script>
{% endblock content %}