{% extends "calculibrium/base.html" %}
{% load calculibrium_extras %}

{% block title %}
    Calculo de Estrutura
{% endblock title %}
{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock head %}

{% block content %}
<div class="container">
    <div class="card" style="width: 90%;">
        <select class="form-select form-select-lg mb-3" id="select-marca" aria-label="Large select example">
            <option value="" selected>Selecione uma marca</option>
        </select>
        <select class="form-select form-select-lg mb-3" id="select-componente" aria-label="Large select example">
            <option value="" selected>Selecione um componente</option>
        </select>
    </div>
</div>
<script>
    var jsonMarcas = JSON.parse('{{marcas_json | escapejs }}');
    var jsonComponentes = JSON.parse('{{componentes_json | escapejs }}');
    var cboMarca = document.getElementById('select-marca');
    var cboComponentes = document.getElementById('select-componente');
    for(var i = 0; i < jsonMarcas.length; i++){
        var option = document.createElement('option');
        option.value = jsonMarcas[i].pk;
        option.text = jsonMarcas[i].fields.name;
        cboMarca.appendChild(option);
    }
    cboMarca.addEventListener('change', function(event){
        var selectedOption = event.target.options[event.target.selectedIndex];
        if (cboComponentes.hasChildNodes){
            while (cboComponentes.firstChild){
                cboComponentes.removeChild(cboComponentes.firstChild);
            }
        }
        for(var i = 0; i < jsonComponentes.length; i++){
            if(jsonComponentes[i].fields.brand == selectedOption.value){
                var option = document.createElement('option');
                option.value = jsonComponentes[i].pk;
                option.text = jsonComponentes[i].fields.descricao;
                cboComponentes.appendChild(option);
            }
        }
    });
</script>
{% endblock content %}