{% extends "calculibrium/base.html" %}
{% load calculibrium_extras %}
{% block title %}
  Calculo de Estrutura
{% endblock title %}

{% block content %}
<div class="container">
  <div class="card">
    <h3 class="card-header">Entenda os Cálculos</h3>
    <div class="card-body">
      <p>A estrutura é projetada com base na potência da usina, sendo o arranjo de mesas otimizado pelo sistema, seguindo as seguintes premissas:</p>

      <ul>
        <li>Utilização da Estrutura Soufer para cálculos;</li>
        <li>Contraventamentos a cada 3~4 vãos;</li>
        <li>Balanço máximo dos módulos limitado a 1,2 metros.</li>
      </ul>
    
      <p>Estas considerações são fundamentais para garantir a estabilidade e eficiência da estrutura.</p>
    
    </div>
  </div>
  <form method="post">
    {% csrf_token %}
    <div class="card">
      <h3 class="card-header">Entradas</h3>
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="mb-3">
              <label for="txt_customers_name" class="form-label">Nome do Cliente</label>
              <input type="text" class="form-control" name="txt_customers_name" value="{{power_plant.customer}}">
              <div class="form-text">Insira o Nome do Cliente.</div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="slcModuleBrand" class="form-label">Marca</label>
              <select class="form-select form-select-lg mb-3" name="slcModuleBrand" id="slcModuleBrand">
                <option value="" selected>Selecione a Marca do Módulo</option>
              </select>
            </div>
            <div class="col">
              <label for="slcModuleModel" class="form-label">Modelo</label>
              <select class="form-select form-select-lg mb-3" name="slcModuleModel" id="slcModuleModel">
                <option value="" selected>Selecione o Modelo do Módulo</option>
              </select>
            </div>
            <div class="col">
              <div class="mb-3">
                <label for="txt_power_plant_power" class="form-label">Potência da Usina</label>
                <input type="number" step="0.01" class="form-control" name="txt_power_plant_power" value="{{power_plant.power}}">
                <div class="form-text">Insira a Potencia da Usina [kWp].</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 form-check">              
              {% if power_plant.inverter_table %}
                <input type="checkbox" class="form-check-input" name="chk_inverter" value="inverter_table" checked>                
              {% else %}
                <input type="checkbox" class="form-check-input" name="chk_inverter" value="inverter_table">                
              {% endif %}
                <label class="form-check-label" for="chk_inverter">Inversor instalado na Mesa</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <h3 class="card-header">Concreto</h3>
      <div class="card-body">
        <div class="container">
          <div class="row">
              <div class="col">
                  <div class="mb-3">
                      <label for="txt_height_buried" class="form-label">Altura da Base Enterrada</label>
                      <input type="number" step="0.01" class="form-control" name="txt_height_buried" id="txt_height_buried" value="1.6" disabled>
                      <div id="lbl_height_buried" class="form-text">Insira a Altura da Base Enterrada.</div>
                  </div>
              </div>
              <div class="col">
                  <div class="mb-3">
                      <label for="txt_ray_buried" class="form-label">Raio da Base Enterrada</label>
                      <input type="number" step="0.01" class="form-control" name="txt_ray_buried" id="txt_ray_buried" value="0.15" disabled>
                      <div id="lbl_ray_buried" class="form-text">Insira o Raio da Base Enterrada.</div>
                  </div>
              </div>
              <div class="col">
                  <div class="mb-3">
                      <label for="txt_volume_buried" class="form-label">Calculo m³</label>
                      <input type="number" step="0.01" class="form-control" name="txt_volume_buried" id="txt_volume_buried" value="{{power_plant.volume_buried|floatformat:3}}" placeholder="0.00" disabled>
                      <div id="lbl_volume_buried" class="form-text">Resultado Calculo m³.</div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <div class="mb-3">
                      <label for="txt_height_exposed" class="form-label">Altura da Base Exposta</label>
                      <input type="number" step="0.01" class="form-control" name="txt_height_exposed" id="txt_height_exposed" value="0.4" disabled>
                      <div id="lbl_height_exposed" class="form-text">Insira a Altura da Base Exposta.</div>
                  </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="txt_ray_exposed" class="form-label">Raio da Base Exposta</label>
                  <input type="number" step="0.01" class="form-control" name="txt_ray_exposed" id="txt_ray_exposed" value="0.2" disabled>
                  <div id="lbl_ray_exposed" class="form-text">Insira o Raio da Base Exposta.</div>
              </div>
              </div>
              <div class="col">
              <div class="mb-3">
                  <label for="txt_volume_exposed" class="form-label">Calculo m³</label>
                  <input type="number" step="0.01" class="form-control" name="txt_volume_exposed" id="txt_volume_exposed" value="{{power_plant.volume_exposed|floatformat:3}}" placeholder="0.00" disabled>
                  <div id="lbl_volume_exposed" class="form-text">Resultado Calculo m³.</div>
              </div>
              </div>
          </div>
          <div class="row">
              <button type="submit" name="calculate" class="btn btn-primary">Submit</button>
          </div>  
        </div>
      </div>
    </div>
  </form>
  {% if power_plant.structures %}
    <div class="card">
      <h3 class="card-header">Outputs</h3>
      <div class="card-body">
        <div class="container">
          <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Descrição</th>
                  <th scope="col">Quantidade</th>
                  <th scope="col">Unidade</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Potência da Usina</td>
                  <td>{{power_plant.real_power}}</td>
                  <td>kWp</td>
                </tr>
                <tr>
                  <td>Quantidade Total de Módulos</td>
                  <td>{{power_plant.modules_amount}}</td>
                  <td>un</td>
                </tr>
                {% for qtd_modulo, qtd_table in power_plant.array_tables %}
                  <tr>
                    <td>Mesa de {{qtd_modulo}} Módulos</td>
                    <td>{{qtd_table}}</td>
                    <td>un</td>
                  </tr>
                {% endfor %}
                <tr>
                  <td>Volume Total de Concreto (H21)</td>
                  <td>{{power_plant.volume_total}}</td>
                  <td>m³</td>
                </tr>
                <tr>
                  <td>Quantidade total de Bases</td>
                  <td>{{power_plant.bases}}</td>
                  <td>un</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Código</th>
                  <th scope="col">Descrição</th>
                  {% for i in power_plant.array_tables %}
                    <th>Quantidade</th>
                  {% endfor %}
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                {% for key, value in power_plant.structure_total.bom.items %}
                  <tr>
                    <th>{{key}}</th>
                    <th>{{value.descricao}}</th>
                    {% for i in power_plant.structures %}
                    <th>{{i.bom|dictKeyLookupQuantidade:key}}</th>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="row">
            <button type="submit" name="export" class="btn btn-primary">Exportar</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
<script>
    const selectBrands = document.getElementById('slcModuleBrand');
    const selectModules = document.getElementById('slcModuleModel');
    var brands = JSON.parse('{{ brands | escapejs }}');
    var components = JSON.parse('{{ components | escapejs }}');

    // console.log(brands)
    // console.log(components)

    brands.forEach(brand => {
      let option = document.createElement('option');
      option.text = brand.fields.name;
      option.value = brand.pk;
      if('{{ power_plant.structures }}' == 'None'){
        option.selected = (brand.pk == 3) ? true : false;
      } else{
        option.selected = (brand.fields.name == '{{ power_plant.module.brand }}') ? true : false;
      }
      selectBrands.add(option);
    });
    populate_components();
    selectBrands.addEventListener('blur', populate_components);

    function populate_components(){
      let marcaSelecionada = selectBrands.value;
      selectModules.innerHTML = '<option value="" selected>Selecione o Modelo do Módulo</option>'
      components.forEach(component => {
      if(component.fields.brand == marcaSelecionada){
        let option = document.createElement('option');
        option.text = component.fields.descricao;
        option.value = component.pk;
        if('{{ power_plant.structures }}' == 'None'){
          option.selected = (component.pk == 249) ? true : false;
        } else{
          option.selected = (component.pk == '{{ power_plant.module.component_id }}') ? true : false;
        }
        selectModules.append(option);
      }
      });
    }
</script>
{% endblock content %}